:root {
  --color-black: #000;
  --color-white: #fff;
  --color-darkgrey: #262626;
  --color-maincolor: #FEFAE0;

  /* font-sizes */
  --small-header: 1.875rem; /*30px*/
  --medium-header: 4.5rem;/*72px*/
  --large-header: 5.5rem; /*88px*/

  --default-text: 1rem; /*16rem*/
  --small-text: 1.125rem; /*18px*/
  --medium-text: 1.5rem; /*24px*/
  --large-text: 3rem; /*48px*/
}



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
    clear: both;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Tonis', Arial, sans-serif;
  background-color: var(--color-white);
  color: var(--color-darkgrey);
}

/* REUSABLE */

.container {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

.services-header, .services-title, .about-header, .stylists-header, .lookbook-header{
  font-size: var(--small-header);
  text-align: center;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: .15em;
}

.services-header, .about-header, .stylists-header, .lookbook-header {
  margin-bottom: 2.5rem;
}


/* Nav */

header {
  padding: 1rem  0;
}

.off-screen {
  background-color: var(--color-maincolor);
  height: 100vh;
  /* width: 100%; */
  width: 300px;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  right: -450px;
  
  display: flex;
  flex-direction: column;
  justify-content: space;
  align-items: left;
  text-align: left;
}

.close-menu {
  /* text-align: end; */
  padding: 1rem 0 1rem 1rem;
  cursor: pointer;
  /* width: 90%; */
  /* margin: 0 auto; */
}

.icon-container {
  display: none;
}

.nav-item {
  padding: 1rem;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: var(--color-darkgrey);
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #000;
  transition: all .5s ease-in-out;
}

.nav-link:hover::before {
  width: 100%;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  font-size: 1.5rem;
}

/* .nav-container {
  display: flex;
  justify-content: space-between;
} */

/* .nav-list, .icon-container, .close-menu, .social-media {
  display: none;
} */

.logo {
  font-family: 'WindSong', sans-serif;
  text-decoration: none;
  color: var(--color-black);
  font-weight: 700;
  font-size: 1.5rem;
}

.hamburger{
  font-weight: 500;
  font-size: 1.5rem;
}

.logo-container {
  display: flex;
  justify-content: space-between;
}



.hamburger{
  cursor: pointer;
  color: var(--color-black);
}

/* Header */

/* .hero {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(20%);
  width: 80%;
  height: 90%;
  background-image: url("assets/hero-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  overflow: hidden;
}
 */


/* HERO */

.hero {
  padding: 4rem 0;
  /* background-color: #606C38; */
  background: linear-gradient(#606C38,#202b13);
}


.hero-text {
  font-size: 1rem;
  color: #fff;
}

.hero-title {
  font-size: 3rem;
  font-family: 'Playfair Display', sans-serif;
  font-weight: bold;
  color: #9fbd3f;
  text-transform: uppercase;
  line-height: 1.25;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-subtitle {
  font-family: 'Tinos', sans-serif;
  font-size: 2rem;
  color: #161f0d;
  padding: 1rem 0;
}


.appointment a{
  font-family: 'Tinos', sans-serif;
  text-decoration: none;
  color: #000;
  margin: .5rem 0;
  display: inline-block;
  padding: 1rem;
  color: #FEFAE0;
  font-size: 1.25rem;
  font-weight: 700;
  border: 2px solid #FEFAE0;
  border-radius: 6px;
  background-color: #202b13;
  transition: all .2s ease-in-out;
}

.appointment a:hover {
  color: #9fbd3f;
  background-color: #2f3f1c;
}


.hero-image{
  background: url(assets/hero-image1.png) no-repeat, center;
  width: 100%;
  height: 100%;
}

/* .hero-image {
  background-image: url(assets/hero-image1.png);
  width: 100%;
  height: 100%;
} */

/* SERVICES */

.services {
  padding: 4rem 0;
  border-bottom: 1px solid var(--color-darkgrey);
}

.services-tiles {
  text-align: center;
  padding: 1rem 0;
}

.services-title {
  font-size: var(--small-text);
}

.services-subtitle, .about-subtitle {
  font-size: var(--default-text);
  line-height: 1.5;
  letter-spacing: .1em;
}

.services-icon {
  width: 75px;
  height: auto;
  margin-bottom: .5rem;
}

/* ABOUT */

.about {
  padding: 4rem 0;
  border-bottom: 1px solid var(--color-darkgrey);
}

.about-title {
  font-size: var(--medium-text);
  color: #cc9c83;
  text-align: left;
  text-transform: uppercase;
  margin: 1rem 0 .5rem 0;
}

.about-subtitle {
  margin-bottom: 1.5rem;
}

.about__video--container {
  position: relative;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
}

.play__button--style {
  font-size: 2.25rem;
  color: red;
}

/* STYLIST */
.stylists {
  padding: 4rem 0;
}

.stylist-tiles:nth-of-type(-n + 2) {
  margin-bottom: 4rem;
}

.stylists-header {
  text-align: center;
}

.img-container {
  /* border: 1px solid red; */
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.img-container img {
  width: 100%;
  height: 330px;
  display: block;
  background-color: #000;
  margin-bottom: 1rem;
}

.stylist-details {
  font-family: var(--default-text);
  text-align: center;
  text-transform: uppercase;
  font-size: var(--medium-text);
  font-weight: 700;
  color: var();
  letter-spacing: .15rem;
}

.stylist-name {
  color: #cc9c83;
}

.stylist-details span {
  font-size: var(--small-text);
  font-weight: 600;
}


/* PROMO */

.promo-container {
  position: relative;
  display: flex;
}

.promo__text--container {
  position: absolute;
  align-self: center;
  left: 10%;
  font-size: var(--medium-text);
  text-transform: uppercase;
  line-height: 1.5;
}

.promo-highlight {
  font-size: var(--default-text);
  font-weight: 500;
}

.promo-text {
  font-weight: 500;
}

.promo-text span {
  font-weight: 900;
  color: var();
}

/* LOOKBOOK */

.lookbook {
  padding: 4rem 0;
}


.lookbook-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: .5rem;
}

.section-five__wrapper img {
  grid-template-columns: 1fr;
}


.img-one {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row: 1 / 1;
  grid-column: 1 / 2;
}

.img-two {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}

.img-three {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.img-four {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.img-five {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row: 1 / 1;
  grid-column: 3 / 4;
}

.img-six {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row: 2 / 4;
  grid-column: 3 / 4;
}
