:root {
  --color-black: #000;
  --color-darkgrey: #262626;
}



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
    clear: both;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f1efe4;
}

/* REUSABLE */

.container {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

/* Nav */

header {
  background-color: #b4865f;
  padding: .5rem  0;
}

/* .nav-container {
  display: flex;
  justify-content: space-between;
} */

/* .nav-list, .icon-container, .close-menu, .social-media {
  display: none;
} */

.logo {
  font-family: 'Satisfy', sans-serif;
  text-decoration: none;
  color: var(--color-darkgrey);
}

.hamburger {
  cursor: pointer;
}

.off-screen {
  background-color: #fff;
  height: 100vh;
  /* width: 100%; */
  width: 300px;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  /* right: -450px; */
  
  display: flex;
  flex-direction: column;
  justify-content: space;
  align-items: left;
  text-align: left;
}

.close-menu {
  /* text-align: end; */
  padding: 1rem 0 1rem 1rem;
  cursor: pointer;
  /* width: 90%; */
  /* margin: 0 auto; */
}

.icon-container {
  display: none;
}

.nav-item {
  padding: 1rem;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: var(--color-darkgrey);
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #000;
  transition: all .5s;

}

.nav-link:hover::before {
  width: 100%;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  font-size: 1.5rem;
}


/* Header */

/* .hero {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(20%);
  width: 80%;
  height: 90%;
  background-image: url("assets/hero-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  overflow: hidden;
}
 */

