:root {
  --color-black: #000;
  --color-white: #fff;
  --color-darkgrey: #262626;
  --color-maincolor: #FEFAE0;

  /* font-sizes */
  --small-header: 1.875rem; /*30px*/
  --medium-header: 4.5rem;/*72px*/
  --large-header: 5.5rem; /*88px*/

  --default-text: 1rem; /*16rem*/
  --small-text: 1.125rem; /*18px*/
  --medium-text: 1.5rem; /*24px*/
  --large-text: 3rem; /*48px*/

  /* fonts */
  --primary-font: 'Montserrat', sans-serif;
  --header-font: 'Tinos', sans-serif; 
  --hero-font: 'Playfair Display', sans-serif;
}



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
    clear: both;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--primary-font);
  background-color: var(--color-maincolor);
  color: var(--color-darkgrey);
}

/* REUSABLE */

.container {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

.services-header, .services-title, .stylists-header, .lookbook-header, .footer-headers{
  font-size: var(--small-header);
  text-align: center;
  font-weight: 700;
  font-family: var(--primary-font);
  text-transform: uppercase;
  letter-spacing: .15em;
}

.services-header, .stylists-header, .lookbook-header {
  margin-bottom: 2.5rem;
}


/* Nav */

header {
  padding: 1rem  0;
}

.off-screen {
  background-color: var(--color-maincolor);
  height: 100vh;
  width: 300px;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: -15px 0 15px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  justify-content: space;
  align-items: left;
  text-align: left;
  z-index: 999;
  backdrop-filter: blur(10px);
}

.on-screen {
  display: none;
}

.close-menu {
  padding: 1rem 0 1rem 1rem;
  cursor: pointer;
}

.icon-container {
  display: none;
}

.nav-item {
  padding: 1rem;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: var(--color-darkgrey);
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #000;
  transition: all .5s ease-in-out;
}

.nav-link:hover::before {
  width: 100%;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  font-size: 1.5rem;
}

.social-media a{
  color: var(--color-darkgrey);
  font-size: 1.75rem;
}

.logo, .footer-logo {
  font-family: 'WindSong', sans-serif;
  text-decoration: none;
  color: var(--color-black);
  font-weight: 700;
  font-size: 1.5rem;
}

.hamburger{
  font-weight: 500;
  font-size: 1.5rem;
}

.logo-container {
  display: flex;
  justify-content: space-between;
}

.hamburger{
  cursor: pointer;
  color: var(--color-black);
}


/* NAV MEDIA QUERY */

@media all and (min-width: 920px) {
  .logo-container {
    display: none;
  }

  .on-screen .logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .on-screen {
    display: flex;
    justify-content: space-between;
  }
  
  .links-container {
    display: flex;
  }

  .onScreen__nav--list {
    display: flex;
  }

  .nav-magnifying-glass, .nav-shopping-bag {
    color: var(--color-darkgrey);
  }

  .hamburger {
    display: none;
  }

}

/* HERO */

.hero {
  padding: 4rem 0;
  background: linear-gradient(#606C38,#202b13);
}


.hero-text {
  font-size: 1rem;
  color: #fff;
}

.hero-title {
  font-size: 3rem;
  font-family: var(--hero-font);
  font-weight: bold;
  color: #9fbd3f;
  text-transform: uppercase;
  line-height: 1.25;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-subtitle {
  font-family: var(--header-font);
  font-size: 2rem;
  color: #161f0d;
  padding: 1rem 0;
}

.appointment{
  font-family: var(--header-font);
  text-decoration: none;
  color: #000;
  margin: .5rem 0;
  display: inline-block;
  padding: 1rem;
  color: #FEFAE0;
  font-size: 1.25rem;
  font-weight: 700;
  border: 2px solid #FEFAE0;
  border-radius: 6px;
  background-color: #202b13;
  transition: all .2s ease-in-out;
}

.appointment:hover {
  color: #9fbd3f;
  background-color: #2f3f1c;
}


/* HERO MEDIA QUERY */

@media all and (max-width: 920px) {
  .hero-image {
    display: none;
  }
}

@media all and (min-width: 920px) {
  .hero {
    padding: 0;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero-text {
    width: 60%;
    align-content: center;
  }

  .hero-image {
    width: 40%;
  }
}


/* SERVICES */

.services {
  padding: 4rem 0;
  border-bottom: 1px solid var(--color-darkgrey);
}

.services-tiles {
  text-align: center;
  padding: 1rem 0;
}

.services-title {
  font-size: var(--small-text);
  margin: 1rem 0;
}

.services-subtitle, .about-subtitle {
  font-size: var(--default-text);
  line-height: 1.5;
  letter-spacing: .1em;
  font-weight: 500;
}

.services-icon {
  width: 75px;
  height: auto;
  margin-bottom: .5rem;
}

/* SERVICES MEDIA QUERY */

@media all and (min-width: 920px){
  .services__tiles--row {
    display: flex;
    gap: 2rem;  
  }
}


/* ABOUT */

.about {
  padding: 4rem 0;
  border-bottom: 1px solid var(--color-darkgrey);
}

.about__text--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-header {
  font-size: var(--small-header);
  color: #cc9c83;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 500;
}

.about-subtitle {
  margin-bottom: 1.5rem;
}


.about__video--container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
}

.play__button--style {
  font-size: 2.25rem;
  color: red;
}

/* ABOUT MEDIA QUERY */

@media all and (min-width: 920px) {
  .about-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .about__text--container {
    width: 45%;
    align-items: center;
    justify-content: center;
  }

  .about__video--container {
    width: 45%;
  }

  .about-header {
    align-self: flex-start;
  }
}

/* STYLIST */
.stylists {
  padding: 4rem 0;
}

.stylist-tiles:nth-of-type(-n + 2) {
  margin-bottom: 4rem;
}

.stylists-header {
  text-align: center;
}

.img-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.img-container img {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  object-fit: cover;
}

.stylist-details {
  font-family: var(--primary-font);
  text-align: center;
  text-transform: uppercase;
  font-size: var(--medium-text);
  font-weight: 700;
  color: var(--color-darkgrey);
  letter-spacing: .15rem;
}

.stylist-name {
  color: #cc9c83;
}

.stylist-details span {
  font-size: var(--small-text);
  font-weight: 600;
}

/* STYLIST MEDIA QUERY */

@media all and (min-width: 920px) {
  .stylist-container {
    display: flex;
    justify-content: space-between;
  }
}

/* PROMO */

.promo-container {
  position: relative;
  display: flex;
}

.promo__text--container {
  position: absolute;
  align-self: center;
  padding-left: 3rem;
  font-size: var(--medium-text);
  text-transform: uppercase;
  line-height: 1.5;
}

.promo-highlight {
  font-size: var(--default-text);
  font-weight: 500;
}

.promo-text {
  font-weight: 500;
}

.promo-text span {
  font-weight: 900;
}

.promo-img {
  width: 100%;
  height: 250px;
}

/* LOOKBOOK */

.lookbook {
  padding: 4rem 0;
}


.lookbook-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: .5rem;
}

.lookbook-container img {
  grid-template-columns: 1fr;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}


.img-one {
  grid-row: 1 / 1;
  grid-column: 1 / 2;
}

.img-two {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}

.img-three {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.img-four {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.img-five {
  grid-row: 1 / 1;
  grid-column: 3 / 4;
}

.img-six {
  grid-row: 2 / 4;
  grid-column: 3 / 4;
}


/* FOOTER */

.footer {
  background-color: var(--color-darkgrey);
  text-align: center;
  color: var(--color-white);
  padding: 2rem 0;
  font-family: var(--primary-font);
}

.footer-logo {
  color: var(--color-white);
  padding-bottom: 1rem;
  font-size: var(--small-header);
}

.footer-headers {
  font-size: var(--small-text);
  margin-bottom: .5rem;
}

.footer__links--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.footer-explore, .footer-company, .footer-socials{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__social--links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer__nav--items a{
  text-decoration: none;
  color: var(--color-white);
  font-size: 1rem;
}

.footer-socials {
  margin: 1rem 0;
}

.footer-socials li{
  font-size: 1.75rem;
}

.footer-socials li:nth-child(2) {
  margin: 0 1rem;
}

.footer-socials li a{
  color: var(--color-white);
}

.footer-copyright {
  padding-top: 1rem;
  border-top: 1px solid #fff;
}

.footer-copyright a{
  color: var(--color-white);
  transition: all .2s ease-in-out;
}

.footer-copyright a:hover{
  color: #cc9c83;
}


/* FOOTER MEDIA QUERY */

@media all and (min-width: 920px) {
  .footer__links--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
  }

  .footer__links--container h2 {
    text-align: left;
  }
}